<div class="container text-center">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h1 class="titulo">Pagina Caja</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
      <div class="card mt-1">
        <div class="card-body">
          <h3 class="titulo">Facturas</h3>
            <div class="row">
              <div class="col-md-7"><app-crear-usuarios></app-crear-usuarios></div>
              <div class="col-6 col-md-5"><app-listar-usuarios></app-listar-usuarios></div>
            </div>
        </div>
      </div>

    <div class="card mt-1">
      <div class="card-body">
        <h3 class="titulo">INFORMES</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary btn-lg btn-block" disabled="true"><i class="fa fa-bar-chart" aria-hidden="true"></i> Mensuales</button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary btn-lg btn-block" disabled="true"><i class="fa fa-bar-chart" aria-hidden="true"></i>Anuales</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>